<div class="main">
  <div class="center">
    <div class="title">
      Bro's Try
    </div>
    <div class="links">
      <ul>
        <li><a href="http://twitter.brostry.com/" target="_blank"><img src="assets/images/twitter.png" alt="twitter"></a></li>
        <li><a href="http://gaming.brostry.com/" target="_blank"><img src="assets/images/youtube.png" alt="youtube"></a></li>
      </ul>
    </div>
    <p>Hey Everyone! Thanks for visiting us</p>
    <p>Currently, these are our main platforms but we are trying to expand.</p>
    <p>Feel free to follow us or message us at <a href="mailto:business@brostry.com">business@brostry.com</a></p>
  </div>
</div>
