.main {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6em;
  -webkit-text-stroke: 3px black;
}

ul {
  display: inline-flex;
}

.links {
  margin-right: 50px;
}

.links ul {
  list-style-type: none;
}

img {
  padding: 0 100px;
  width: 100px;
}

p {
  font-size: 2em;
  -webkit-text-stroke: 1px black;
}

a[href^="mailto"] {
  color: red;
  text-decoration: none;
}
